<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-portada-heading" jhiTranslate="adminApp.portada.home.createOrEditLabel">Create or edit a Portada</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!portada.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="portada.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adminApp.portada.tituloFoto" for="field_tituloFoto">Titulo Foto</label>
                    <input type="text" class="form-control" name="tituloFoto" id="field_tituloFoto"
                        [(ngModel)]="portada.tituloFoto" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.tituloFoto?.dirty && editForm.controls.tituloFoto?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tituloFoto?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adminApp.portada.urlFoto" for="field_urlFoto">Url Foto</label>
                    <input type="text" class="form-control" name="urlFoto" id="field_urlFoto"
                        [(ngModel)]="portada.urlFoto" required maxlength="50"/>
                    <div [hidden]="!(editForm.controls.urlFoto?.dirty && editForm.controls.urlFoto?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.urlFoto?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.urlFoto?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adminApp.portada.status" for="field_status">Status</label>
                    <input type="checkbox" class="form-control" name="status" id="field_status"
                        [(ngModel)]="portada.status" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
