<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="blog">
            <h2><span jhiTranslate="adminApp.blog.detail.title">Blog</span> {{blog.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="adminApp.blog.titulo">Titulo</span></dt>
                <dd>
                    <span>{{blog.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="adminApp.blog.autor">Autor</span></dt>
                <dd>
                    <span>{{blog.autor}}</span>
                </dd>
                <dt><span jhiTranslate="adminApp.blog.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{blog.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="adminApp.blog.url">Url</span></dt>
                <dd>
                    <span>{{blog.url}}</span>
                </dd>
                <dt><span jhiTranslate="adminApp.blog.fecha">Fecha</span></dt>
                <dd>
                    <span>{{blog.fecha}}</span>
                </dd>
                <dt><span jhiTranslate="adminApp.blog.status">Status</span></dt>
                <dd>
                    <span>{{blog.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/blog', blog.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
