<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="permission">
            <h2><span jhiTranslate="adminApp.permission.detail.title">Permission</span> {{permission.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="adminApp.permission.roleName">Role Name</span></dt>
                <dd>
                    <span>{{permission.roleName}}</span>
                </dd>
                <dt><span jhiTranslate="adminApp.permission.permissionType">Permission Type</span></dt>
                <dd>
                    <span>{{permission.permissionType}}</span>
                </dd>
                <dt><span jhiTranslate="adminApp.permission.moduleId">Module Id</span></dt>
                <dd>
                    <div *ngIf="permission.moduleId">
                        <a [routerLink]="['/module', permission.moduleId?.id, 'view']">{{permission.moduleId?.nombre}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/permission', permission.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
