<div>
    <h2 id="page-heading">
        <span jhiTranslate="adminApp.module.home.title">Modules</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-module" [routerLink]="['/module/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="adminApp.module.home.createLabel">
            Create new Module
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="modules">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="adminApp.module.code">Code</span></th>
            <th><span jhiTranslate="adminApp.module.nombre">Nombre</span></th>
            <th><span jhiTranslate="adminApp.module.url">Url</span></th>
            <th><span jhiTranslate="adminApp.module.menuLabel">Menu Label</span></th>
            <th><span jhiTranslate="adminApp.module.menuOrden">Menu Orden</span></th>
            <th><span jhiTranslate="adminApp.module.orden">Orden</span></th>
            <th><span jhiTranslate="adminApp.module.visible">Visible</span></th>
            <th><span jhiTranslate="adminApp.module.status">Status</span></th>
            <th><span jhiTranslate="adminApp.module.padre">Padre</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let module of modules ;trackBy: trackId">
                <td><a [routerLink]="['/module', module.id, 'view' ]">{{module.id}}</a></td>
                <td>{{module.code}}</td>
                <td>{{module.nombre}}</td>
                <td>{{module.url}}</td>
                <td>{{module.menuLabel}}</td>
                <td>{{module.menuOrden}}</td>
                <td>{{module.orden}}</td>
                <td>{{module.visible}}</td>
                <td>{{module.status}}</td>
                <td>
                    <div *ngIf="module.padre">
                        <a [routerLink]="['../module', module.padre?.id, 'view' ]" >{{module.padre?.nombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/module', module.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/module', module.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'module/'+ module.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
