<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-module-heading" jhiTranslate="adminApp.module.home.createOrEditLabel">Create or edit a Module</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!module.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="module.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adminApp.module.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="module.code" required maxlength="50"/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adminApp.module.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="module.nombre" required maxlength="250"/>
                    <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nombre?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nombre?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 250 }">
                        This field cannot be longer than 250 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adminApp.module.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                        [(ngModel)]="module.url" required maxlength="50"/>
                    <div [hidden]="!(editForm.controls.url?.dirty && editForm.controls.url?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.url?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.url?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adminApp.module.menuLabel" for="field_menuLabel">Menu Label</label>
                    <input type="text" class="form-control" name="menuLabel" id="field_menuLabel"
                        [(ngModel)]="module.menuLabel" maxlength="150"/>
                    <div [hidden]="!(editForm.controls.menuLabel?.dirty && editForm.controls.menuLabel?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.menuLabel?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 150 }">
                        This field cannot be longer than 150 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adminApp.module.menuOrden" for="field_menuOrden">Menu Orden</label>
                    <input type="number" class="form-control" name="menuOrden" id="field_menuOrden"
                        [(ngModel)]="module.menuOrden" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adminApp.module.orden" for="field_orden">Orden</label>
                    <input type="number" class="form-control" name="orden" id="field_orden"
                        [(ngModel)]="module.orden" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adminApp.module.visible" for="field_visible">Visible</label>
                    <input type="checkbox" class="form-control" name="visible" id="field_visible"
                        [(ngModel)]="module.visible" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adminApp.module.status" for="field_status">Status</label>
                    <input type="checkbox" class="form-control" name="status" id="field_status"
                        [(ngModel)]="module.status" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adminApp.module.padre" for="field_padre">Padre</label>
                    <select class="form-control" id="field_padre" name="padre" [(ngModel)]="module.padre" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="moduleOption.id === module.padre?.id ? module.padre : moduleOption" *ngFor="let moduleOption of modules; trackBy: trackModuleById">{{moduleOption.nombre}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
